.bodybg{
    -fx-background-image: url("/graphics/SantoriniBoard_Squared.png");
    -fx-background-size: 100% 100%;
}

.root{
    -fx-background-image: url("/graphics/Sea_v005.png");
    -fx-background-size: 100% 100%;
}